@import "../../styles.scss";

.product-hero-container {
  width: 100%;
  height: 300px;
  background-image: url("https://i.etsystatic.com/25717906/r/il/7c5537/2998265674/il_570xN.2998265674_agq0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
