<div class="cart-container">
  <header>
    <h1>Your Cart</h1>
  </header>

  <section class="cart-list-section">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img class="product-image" [src]="item.image" />
      <div class="text">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
      </div>
      <div class="customer-information">
        <h2>Your information:</h2>
        <p>Golf Course: (Location)</p>
        <p>Hole: (Optional)</p>
        <p>Name: Bobby</p>
      </div>
      <button (click)="removeFromCart(item._id)">X</button>
    </div>
  </section>
</div>
