<div class="cart-container">
  <header>
    <h1>Your Cart</h1>
  </header>

  <section class="cart-list-section">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="left">
        <img class="product-image" [src]="item.product.image" />
        <div class="text">
          <h1>{{ item.product.title }}</h1>
          <p>{{ item.product.description }}</p>
        </div>
        <mat-form-field appearance="outline" class="quantity-form-field">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            [defaultValue]="1"
            (change)="quantityChange($event, item)"
          />
        </mat-form-field>
        <div class="customer-information">
          <h2>Your information:</h2>
          <p>Name: {{ item.customerInformation.name }}</p>
          <p>Golf Course: {{ item.customerInformation.course }}</p>
          <p>Hole: {{ item.customerInformation.hole }}</p>
          <p>Notes: {{ item.customerInformation.notes }}</p>
        </div>
      </div>

      <div class="right">
        <h2 class="price-header">
          <strong>${{ item.product.price }}.00</strong>
        </h2>
        <button
          mat-raised-button
          color="warn"
          (click)="removeFromCart(item.product._id)"
          class="delete-button"
        >
          <mat-icon class="delete-icon" fontIcon="close"></mat-icon>
        </button>
      </div>
    </div>
    <h1 class="total">
      Total:
      <strong> ${{ total }}.00</strong>
    </h1>
    <div class="checkout-container">
      <button
        mat-raised-button
        class="checkout-button"
        (click)="checkout()"
        [disabled]="!cartItems?.length"
      >
        Checkout
      </button>
    </div>
  </section>
</div>
