<div class="cart-container">
  <header>
    <h1>Your Cart</h1>
  </header>

  <section class="cart-list-section">
    <div class="empty-cart-container" *ngIf="!cartItems?.length">
      <div class="empty-cart-image-container">
        <img
          class="empty-cart-image"
          src="../../assets/images/golfer-sand.jpg"
        />
      </div>
      <h2>Cart is empty!</h2>
      <p>Try visiting the products page and adding some products</p>
      <button
        class="empty-cart-button"
        mat-raised-button
        [routerLink]="'/products'"
      >
        Products
      </button>
    </div>
    <div
      class="cart-item"
      *ngFor="let item of cartItems"
      (mouseenter)="onHover()"
      (mouseleave)="onHover()"
    >
      <div class="left">
        <img class="product-image" [src]="item.product.image" />
        <div class="text">
          <h1>{{ item.product.title }}</h1>
          <p>{{ item.product.description }}</p>
        </div>
        <mat-form-field appearance="outline" class="quantity-form-field">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [defaultValue]="1"
            (change)="quantityChange($event, item)"
          />
        </mat-form-field>
        <div class="customer-information">
          <h2>Your information:</h2>
          <p>Name: {{ item.customerInformation.name }}</p>
          <p>Golf Course: {{ item.customerInformation.course }}</p>
          <p>Hole: {{ item.customerInformation.hole }}</p>
          <p>Notes: {{ item.customerInformation.notes }}</p>
        </div>
      </div>

      <div class="right">
        <h2 class="price-header">
          <strong>{{ item.product.price | currency }}</strong>
        </h2>
        <div class="edit-delete-container">
          <button
            *ngIf="hoverState"
            mat-raised-button
            color="primary"
            (click)="editCartItem(item.product._id)"
            class="edit-button"
          >
            <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="removeFromCart(item.product._id)"
            class="delete-button"
          >
            <mat-icon class="delete-icon" fontIcon="close"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="total-checkout">
      <h1 class="total">
        Total:
        <strong> {{ total | currency }}</strong>
      </h1>
      <div class="checkout-container">
        <button
          mat-raised-button
          color="primary"
          class="checkout-button"
          (click)="checkout()"
          [disabled]="!cartItems?.length || this.total <= 0"
        >
          Checkout
        </button>
      </div>
    </div>
  </section>
</div>
