@import "../../styles.scss";

.cart-container {
  @include main-container;
  padding: 30px 0;
}

.cart-list-section {
  display: grid;
  gap: 30px;
  padding-top: 25px;
}

.cart-item {
  height: 150px;
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.left {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.product-image {
  height: 100%;
}

.customer-information {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-icon {
  padding-bottom: 3px;
}

.price-header {
  padding-right: 30px;
}

.total {
  text-align: right;
}

.checkout-container {
  text-align: center;
}

.checkout-button {
  background-color: $golf-green;
  color: $white;
}

.quantity-form-field {
  display: flex;
  align-items: center;
  padding: 0 20px;
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}
