@import '../../styles.scss';

.hamburgerMenu {
    @media (min-width: $viewport-medium-up) {
        display: none;
    }
}

.homeLink {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.active {
    color: blue;
}