@import "../../styles.scss";

.product-view-container {
  @include main-container;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-header {
  font-size: 30px;
}

.product-image {
  width: 100%;
}

.text-container {
  padding-left: 20px;
}

.details-section {
  padding-top: 30px;
}

.paragraphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cta {
  background-color: $golf-green;
  color: $white;
}
