<div class="product-view-container">
  <div class="product-hero-container">
    <img [src]="product?.image" class="product-image" />
    <div class="text-container">
      <h1 class="product-header">{{ product?.title }}</h1>
      <h3>Type: {{ product?.type | titlecase }}</h3>
      <p>{{ product?.description }}</p>
      <h2>
        <strong>{{ product?.price | currency }}</strong>
      </h2>
      <form
        class="form"
        (ngSubmit)="submitFormAndAddToCart(form)"
        [formGroup]="form"
      >
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            appearance="outline"
            formControlName="name"
            placeholder="John Smith"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Main text to appear on picture</mat-label>
          <input
            matInput
            appearance="outline"
            formControlName="main"
            placeholder="Hole-In-One or Par"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Course Location</mat-label>
          <input
            matInput
            appearance="outline"
            formControlName="course"
            placeholder="Augusta National Golf Club, Augusta, Georgia, USA"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hole</mat-label>
          <input
            matInput
            appearance="outline"
            formControlName="hole"
            placeholder="If wanted, the specific hole number to illustrate or emphasize in the photo"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Notes for the artist</mat-label>
          <textarea
            matInput
            appearance="outline"
            rows="3"
            formControlName="notes"
            placeholder="Add anything specific that you would like added to your illustration here"
          >
          </textarea>
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            type="submit"
            class="cta"
            [disabled]="alreadyAddedToCart() || form.invalid"
          >
            {{ alreadyAddedToCart() ? "Added to Cart" : "Add to Cart" }}
          </button>
        </div>

        <p class="disclaimer">
          <i>Form fields with an * are required</i>
        </p>
      </form>
    </div>
  </div>

  <section class="details-section">
    <header>
      <h2>Details</h2>
    </header>
    <div class="paragraphs">
      <p>
        Phosfluorescently streamline multidisciplinary systems vis-a-vis
        distinctive potentialities. Synergistically disintermediate competitive
        niche markets with bricks-and-clicks solutions. Competently
        reconceptualize cost effective methodologies whereas intermandated
        partnerships. Compellingly target accurate value before mission-critical
        synergy. Conveniently transform leading-edge alignments with
        next-generation bandwidth. Quickly build end-to-end solutions before
        compelling imperatives. Completely evolve.
      </p>
      <p>
        Phosfluorescently streamline multidisciplinary systems vis-a-vis
        distinctive potentialities. Synergistically disintermediate competitive
        niche markets with bricks-and-clicks solutions. Competently
        reconceptualize cost effective methodologies whereas intermandated
        partnerships. Compellingly target accurate value before mission-critical
        synergy. Conveniently transform leading-edge alignments with
        next-generation bandwidth. Quickly build end-to-end solutions before
        compelling imperatives. Completely evolve.
      </p>
    </div>
  </section>
</div>
