@import "../../styles.scss";

.navbar-main-container {
  @include main-container;
  background-color: $white;
}

.navbar-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.navbar-logo-container {
  cursor: pointer;
}

.shopping-icon-container {
  cursor: pointer;
}

.mat-icon {
  font-size: 26px;
}
