<div class="navbar-main-container">
  <div class="navbar-logo-container">
    <img
      routerLink="/"
      src="https://upload.wikimedia.org/wikipedia/commons/1/18/Golf_Wang_Logo.png"
      width="112"
      height="28"
    />
  </div>
  <div class="navbar-links-container">
    <div class="shopping-icon-container">
      <mat-icon
        class="mat-icon"
        routerLink="/cart"
        [matBadge]="null"
        matBadgeColor="warn"
        >shopping_cart</mat-icon
      >
    </div>
  </div>
</div>
