@import "../../styles.scss";

.navbar-main-container {
  @include main-container;
  background-color: $white;
}

.navbar-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.navbar-logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.shopping-icon-container {
  cursor: pointer;
  height: 24px;
}

.mat-icon {
  font-size: 26px;
}

.products-nav-link {
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  padding-right: 15px;
}

.active {
  color: $white;
  background-color: darkgreen;
}
