@import "../../styles.scss";

.main-container {
  @include main-container;
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.feature-section-container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

.feature {
  padding: 20px 0px;
}

.icon-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.icon-display {
  transform: scale(1.5);
}

.feature-header {
  margin: 0;
  padding-left: 16px;
  @include gradient-text;
}
