<section
  class="footer-container"
  [class.special-footer]="router.url === '/cart' || router.url === '/about'"
>
  <div class="content-container">
    <address>
      <h1 class="address-header">Utah</h1>
      111 John St. <br />
      Lehi, UT 84062 <br />
      (555) 555-5555
    </address>
    <h3 class="contact-header">
      We'd love to hear more from you and cater to your specific needs. Feel
      free to contact us via email at your convenience.
    </h3>
    <a href="mailto:zachharrisrandomemail@gmail.com" class="email-link">
      <h3>zachharrisrandomemail@gmail.com</h3>
    </a>
    <div class="social-media-links">
      <a href="https://www.youtube.com/" target="_blank">
        <img src="../../assets/images/youtube.png" />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../assets/images/instagram.png" />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../../assets/images/facebook.png" />
      </a>
    </div>
  </div>
</section>
