@import "../../styles.scss";

.footer-container {
  color: white;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.content-container {
  @include main-container;
}

.address-header {
  color: $golf-green;
  font-weight: 700;
}

.contact-header {
  padding-top: 20px;
}

.email-link {
  color: $golf-green;
  text-decoration: none;
  &:hover {
    color: darkgreen;
  }
  &:visited {
    color: green;
  }
}

.social-media-links {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}
