<div class="product-gallery-container">
  <div class="staggered-products-container">
    <div class="staggered-product">
      <img
        [src]="
          !products
            ? 'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'
            : products[0].image
        "
        class="product-image"
        (click)="products ? navigateToProductPage(products[0]) : null"
      />
      <div class="text">
        <h1>The Original Framed Masterpiece</h1>
        <p>
          A completely custom and framed print of your hole in one. Don't worry,
          it doesn't have to be a hole in one. Save the memories of your epic
          day
        </p>
        <span class="blob1"></span>
      </div>
    </div>
    <div class="staggered-product">
      <img
        [src]="
          !products
            ? 'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'
            : products[1].image
        "
        class="product-image order-change"
      />
      <div class="text">
        <h1>Header for the second product</h1>
        <p>This is a sample description</p>
        <span class="blob2"></span>
      </div>
    </div>
  </div>
</div>
