@import "../../styles.scss";

.gradient-container {
  background: rgb(98, 159, 37);
  background: linear-gradient(
    0deg,
    rgba(98, 159, 37, 1) 0%,
    rgba(255, 255, 255, 1) 91%
  );
  height: 300px;
  width: 100%;
  @include flex-centering;
}

.content-container {
  @include flex-centering;
}
